# Bot Token
TG_BOT_TOKEN=

# Comma-separated list of Gemini API keys
API_KEYS=AIzaSyC36...,AIzaSyD3...,AIzaSyALe...

# Admin ID (number)
ADMIN_ID=972126573

# The base URL of your server (without a slash at the end)
# Is used to generate download links and work with the frontend
BASE_URL=https://neewfpv.com

# The path to the data (inside the container is usually /app/data)
LOCAL_DATA_DIR=/app/data
